{% extends "admin/adminbase.html" %}
{% load crispy_forms_tags %}

{% block content %}

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header bg-dark text-white">
                <h4 class="mb-0">Customer List</h4>
            </div>

            <div class="card-body p-2">
                <div class="table-responsive">
                    <table class="table table-bordered table-hover">

                        <thead class="table-dark">
                            <tr>
                                <th>Sl No</th>
                                <th>Name</th>
                                <th>Email</th>
                                <th>Phone</th>
                                <th>Address</th>
                                <th>image</th>
                            </tr>
                        </thead>

                        <tbody>
                            {% for k in data %}
                            <tr>
                                <td>{{ forloop.counter }}</td>
                                <td>{{ k.name }}</td>
                                <td>{{ k.email }}</td>
                                <td>{{ k.phone }}</td>
                                <td>{{ k.address }}</td>
                                 <td><img src="{{k.profile_pic.url}}" height="100px" width="100px"></td>
                            </tr>
                            {% empty %}
                            <tr>
                                <td colspan="5" class="text-center text-danger">
                                    No customers found
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>

                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}