
{% extends 'seller/sellerbase.html' %}
{% load crispy_forms_tags %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>


<div class="card">
  <div class="card-body">

    <h2>Add New Accessory</h2>
    <hr>

    <form method="POST">
      {% csrf_token %}

      {{ form|crispy }}

      <button type="submit" class="btn btn-primary mt-3">
        Save Accessory
      </button>

      <a href="{% url 'seller_accessory_list' %}" class="btn btn-secondary mt-3">
        Back to List
      </a>

    </form>

  </div>
</div>

{% endblock %}
</body>
</html>