{% extends "seller/sellerbase.html" %}
{% load crispy_forms_tags %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h2>Selle Details</h2>

<a href="{% url 'accessory_add' %}" class="btn btn-primary mb-3">Add Accessorysc</a>

<table class="table table-bordered">
    <tr>
      <th>#</th>
      <th>Name</th>
        <th>Category</th>
        <th>Rent Per Day </th>
        <th>Brand</th>
        <th>image</th>
        <th>Available</th>
        <th>Edit&Delete</th>

    </tr>


    {% for i in data %}
    <tr>
      <th scope="row">{{ forloop.counter }}</th>
      <td>{{ i.accessory_name }}</td>
      <td>{{ i.category }}</td>
        <td>{{i.rent_per_day}}</td>
        <td>{{i.brand}}</td>

        <td>

            {% if i.image %}
            <img src="{{ i.image.url }}" height="100" width="100">
            {% else %}
            No Image
            {% endif %}
        </td>
         <td>{{i.is_available}}</td>

        <td>
            <a href="{% url 'accessory_edit' i.id %}" class="btn btn-sm btn-warning">Edit</a>
            <a href="{% url 'accessory_delete' i.id %}" class="btn btn-sm btn-danger">Delete</a>
        </td>
    </tr>


    {% endfor %}


</table>
{% endblock %}
</body>
</html>