{% extends 'seller/sellerbase.html' %}
{% load crispy_forms_tags %}

{% block content %}

<style>
.lens-form-box {
    background: #ffffff;
    padding: 25px;
    border-radius: 12px;
    max-width: 600px;
}

.lens-form-box label {
    color: #000;
}

.lens-form-box h2 {
    color: #000;
}
</style>

<div class="lens-form-box">
    <h2>Lens Form</h2>

    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form|crispy }}
        <button class="btn btn-success">Save</button>
    </form>
</div>

{% endblock %}